build
build-static/
build-fr12/
build-fr1234/
bench-static/
bench-frame-gen/
bench-short/
skills/
!.vscode/*
.DS_Store
unused
.cache
__pycache__
*.csv
profiling/**/*.json
.wrangler/
web/index.html

build-on/
build-off/
artifacts/
